In [21]:
#pip install google_play_scraper
from google_play_scraper import reviews, Sort
import pandas as pd

In [22]:
app = "com.amazon.mShop.android.shopping"
app1 = "com.flipkart.android"

In [23]:
data, _ = reviews(
    app1,
    lang='en',
    country='us',
    sort=Sort.NEWEST,
    count=100
)

In [24]:
print("Total reviews fetched:", len(data))

Total reviews fetched: 100

In [25]:
df = pd.DataFrame(data)[['userName', 'score', 'content', 'at']]
df.columns = ['Customer Name', 'Rating', 'Review', 'Date']

In [26]:
df['Tag'] = df['Rating'].apply(lambda x: 'Positive' if x >= 4 else 'Neutral' if x == 3 else 'Negative')

In [27]:
# filename = f"{app}_reviews.csv"
# df.to_csv(filename, index=False)

In [28]:
df.head(5)

,Customer Name,Rating,Review,Date,Tag
0,Akram,5,product achcha hai,2025-05-30 19:14:30,Positive
1,Babu Dalal,4,not bad !,2025-05-30 19:14:19,Positive
2,Sathish R,4,super,2025-05-30 19:14:08,Positive
3,Saraswati Mangar,4,good,2025-05-30 19:13:12,Positive
4,Tatyaso Gavandhare,5,best,2025-05-30 19:12:06,Positive